<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 数据库连接字符串 -->
    <add name="ConnStrMain" connectionString="server=127.0.0.1\OSERVER;database=myplat;Trusted_Connection=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>

    <!-- log4net配置 -->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />

    <!-- Cookie配置 -->
    <add key="CookieName" value="manager_cookie" />

    <!-- Qiniu key -->
    <add key="QiniuAccessKey" value="xglkrgcpumWcTGzzTbL6ssuZIdiVfigPJ8nRs53B" />
    <add key="QiniuSecretKey" value="mLA4S6ikIFjA0HEuK_tAaufiIQfw_coQU3GJGIIB" />
    <add key="DefaultBucket" value="imagehole" />
    <add key="ImageUrlPrefix" value="http://p3tpsvuiu.bkt.clouddn.com/" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>